.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
}

.navbar, .card {
  background-color: #1e1e1e;
  border: none;
}

.navbar a, .card-title, .card-text {
  color: #e0e0e0;
}

.navbar a:hover {
  color: #bb86fc;
}

.card-img-top {
  border-bottom: 1px solid #333;
}

.card-body {
  padding: 1rem;
}

.card {
  margin-bottom: 1rem;
}

.container {
  padding: 2rem;
}

.btn-primary {
  background-color: #bb86fc;
  border-color: #bb86fc;
}

.btn-primary:hover {
  background-color: #3700b3;
  border-color: #3700b3;
}

a {
  color: #bb86fc;
}

a:hover {
  color: #3700b3;
}